<footer class="row">
    <div class="container">
        <div class="row sidebar sidebar_footer">
            <div class="col-sm-3 widget widget1 w_in_footer widget_about">
                <h5 class="widget_title">About pistol detector</h5>
                <div class="row m0 inner">
                    <p>You can predict where are pistols in your image. This model was trained base on yolov3. 
                    </p>
                </div>
            </div>
            <div class="col-sm-3 widget widget1 w_in_footer widget_about">
                <h5 class="widget_title">About yolov3 base detector</h5>
                <div class="row m0 inner">
                    <p>COCO stands for Common Objects in Context. Yolov3 can detect common objects like: person, dog, cat, etc... 
                        You can find out what object can be detected in <a target="_blank" href="https://cocodataset.org/">here</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer><!--Footer-->